*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  text-align:center;
}

.top-bar{
  border-radius:25px;
  background: linear-gradient(135deg,#ff6a00,#ee0979);
  padding:40px 20px;
  color:white;
  box-shadow:0 4px 15px rgba(0,0,0,0.3);
  height: 150px;;
}

.top-bar h1{
  margin-bottom:10px;
  font-size:40px;
  letter-spacing:2px;
  margin-top:0px;
}

.buttons button{
  padding:10px 20px;
  margin:5px;
  border:none;
  background:white;
  color:#333;
  font-weight:bold;
  cursor:pointer;
  border-radius:25px;
  transition:0.3s;
}

.buttons button:hover{
  background:black;
  color:white;
  transform:scale(1.1);
}

.gallery{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
  padding:20px;
}

.image{
  width:100%;
  aspect-ratio:1/1;
  overflow:hidden;
  border-radius:12px;
}

.image img{
  width:100%;
  height:100%;
  object-fit:cover;
  cursor:pointer;
  transition:transform 0.4s ease, filter 0.4s ease;
}

.image img:hover{
  transform:scale(1.1);
  filter:brightness(80%);
}

#lightbox{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.9);
  justify-content:center;
  align-items:center;
}

#lightbox img{
  width:40vw;        
  height:60vh;       
  object-fit:contain;
  max-width: 900px;
  height: auto;
}
.close{
  position:absolute;
  top:20px;
  right:40px;
  font-size:40px;
  color:white;
  cursor:pointer;
}

.prev,.next{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:40px;
  background:none;
  border:none;
  color:white;
  cursor:pointer;
  padding: 20px;
}

.prev{ 
  left:5%; 
}
.next{
   right:5%; 
  }

@media(max-width:768px){
  .gallery{
    grid-template-columns:repeat(4,1fr);
  }
  .prev{
    left: 2%;
  }
  .next{
    right: 2%;
  }
  .img{
    width: 95%;
  }
}

@media(max-width:480px){
  .gallery{
    grid-template-columns:repeat(4,1fr);
  }
}